.body{
    
    
    width:100%;
    padding-top: 25px;
}
.dropdown-item{
    font-size: 18px;
    text-align: left;
}
.icon:hover{
  color:green !important;
  
}

ul li {
  list-style-type:circle;
  font-size: small;
  text-decoration: none;
  
  
}
.faydalı li:hover{
  text-decoration: none;
}


.faydalı li:hover a:not(.active){
  color:#499078;
  text-decoration: none;
}

