.App {
  
  overflow-x: hidden !important;
  padding: 0% !important;
  background-color: #F5F5F3 !important;
}

/* for desktop */
.whatsapp_float {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 45px;
  right: 30px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 35px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
    
}
.roof-whatsapp{
background-color:green ;
position: fixed;
bottom: 40px;
right: 25px;
width: 55px;
height: 55px;
border-radius: 40px;
transition: 0.6s linear;
animation-duration: 50ms;
border:2px green solid;
animation-name: roof-whatsapp;
animation-duration: 2s;
animation-iteration-count: infinite;
z-index: 1000;
}

/* The animation code */
@keyframes roof-whatsapp {
from {background-color: green;}
to {background-color: white}
}



.roof-whatsapp:hover{
background-color:white ;


}

.whatsapp-icon {
  margin-bottom: 2px !important;
  font-size: x-large !important;
  
}

.phone-icon{
margin-bottom: 2px !important;
font-size: x-large !important;
color:white;
}

.phone-icon:hover{
color:rgb(54, 189, 27);
}

/*  for phone icone */
.phone_float {
position: fixed;
width: 45px;
height: 45px;
bottom: 105px;
right: 30px;
/*background-color: #424de2;*/
background-color: #4682B4;
color: #FFF;
border-radius: 35px;
text-align: center;
font-size: 30px;
box-shadow: 2px 2px 3px #999;
z-index: 100;

}

.roof-phone{
background-color:blueviolet ;
position: fixed;
bottom: 100px;
right: 25px;
width: 55px;
height: 55px;
border-radius: 40px;
transition: 0.6s linear;
animation-duration: 50ms;
border:2px #2F6B9A solid;
/*border:2px #3B099F solid;*/

animation-name: roof-phone;
animation-duration: 2s;
animation-iteration-count: infinite;
z-index: 1000;
}

/* The animation code */
@keyframes roof-phone {
from {background-color: rgb(86, 86, 204);}
to {background-color: white}
}





/* for mobile */
@media screen and (max-width: 767px) {
  

  .whatsapp_float {
      width: 40px;
      height: 40px;
      bottom: 35px;
      right: 15px;
      font-size: 22px;
  }
  .phone_float {
    width: 40px;
    height: 40px;
    bottom: 90px;
    right: 15px;
    font-size: 22px;
}

  .roof-whatsapp{
    bottom: 30px;
    right: 10px;
    width: 50px;
    height: 50px;

  }
  .roof-phone{
    bottom: 85px;
    right: 10px;
    width: 50px;
    height: 50px;

  }
  .whatsapp-icon {
    font-size: x-large !important;
    margin-top: 5px !important;
    
}

.phone-icon{
  font-size: x-large !important;
  margin-top: 5px !important;
  
}
  
}
